.HeaderContainer {
  width: 100%;
  height: 10vh;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  border: 1px solid gray;
}
.HeaderHolder {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .left {
    width: 80%;
    height: 100%;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.right {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header_login_btn {
  width: 80px;
  height: 40px;
  background-color: blue;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.header_login_btn:hover {
  background-color: darkblue;
}
